@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .bg#{$infix}-transparent { background-color: transparent !important; }
    .bg#{$infix}-current { background-color: currentColor !important; }

    @each $color, $background-color in $colors {
      .bg#{$infix}-#{$color} {
        --frdy-bg-opacity: 1;
        background-color: rgba($background-color, var(--frdy-bg-opacity)) !important;
      }
    }
  }
}