@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        $var-inline: (
                'block': inline-block,
                'flex': flex,
                'grid': inline-grid
        );
        $var-table: (
                'caption': table-caption,
                'cell': table-cell,
                'row': table-row,
                'row-group': table-row-group,
                'column': table-column,
                'column-group': table-column-group,
                'footer-group': table-footer-group,
                'header-group': table-header-group,
        );

        .block#{$infix} { display: block !important; }
        .inline#{$infix} { display: inline !important; }
        .flex#{$infix} { display: flex !important; }
        .table#{$infix} { display: table !important; }
        .flow#{$infix}-root { display: flow-root !important; }
        .grid#{$infix} { display: grid !important; }
        .contents#{$infix} { display: contents !important; }
        .hidden#{$infix} { display: none !important; }

        @each $var-inline, $display in $var-inline {
            .inline#{$infix}-#{$var-inline} { display: $display !important; }
        }

        @each $var-table, $display in $var-table {
            .table#{$infix}-#{$var-table} { display: $display !important; }
        }
    }
}
