@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    $var: (
            'auto': auto,
            'contain': contain,
            'none': none
    );

    @each $var, $overscroll-behavior in $var {
      .overscroll#{$infix}-#{$var} { overscroll-behavior: $overscroll-behavior !important; }
      .overscroll#{$infix}-x-#{$var} { overscroll-behavior-x: $overscroll-behavior !important; }
      .overscroll#{$infix}-y-#{$var} { overscroll-behavior-y: $overscroll-behavior !important; }
    }
  }
}
