@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    $var: (
            'auto': auto,
            'hidden': hidden,
            'visible': visible,
            'scroll': scroll
    );

    @each $var, $overflow in $var {
      .overflow#{$infix}-#{$var} { overflow: $overflow !important; }
      .overflow#{$infix}-y-#{$var} { overflow-y: $overflow !important; }
      .overflow#{$infix}-x-#{$var} { overflow-x: $overflow !important; }
    }
  }
}
