@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      
      .z#{$infix}-0 { z-index: 0 !important; }
      .z#{$infix}-10 { z-index: 10 !important; }
      .z#{$infix}-20 { z-index: 20 !important; }
      .z#{$infix}-30 { z-index: 30 !important; }
      .z#{$infix}-40 { z-index: 40 !important; }
      .z#{$infix}-50 { z-index: 50 !important; }
      .z#{$infix}-auto { z-index: auto !important; }
    }
}
