@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    $var: (
      '0': 0,
      '25': .25,
      '50': .5,
      '75': .75,
      '90': .9,
      '95': .95,
      '100': 1,
      '105': 1.05,
      '110': 1.1,
      '125': 1.25,
      '150': 1.5,
      '200': 2
    );

    @each $var, $scale in $var {
      .scale#{$infix}-#{$var} {
        --frdy-scale-x: #{$scale} !important;
        --frdy-scale-y: #{$scale} !important;
      }
      .scale#{$infix}-y-#{$var} { --frdy-scale-y: #{$scale} !important; }
      .scale#{$infix}-x-#{$var} { --frdy-scale-x: #{$scale} !important; }
    }
  }
}