@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $transformScale, $scale in $transformScale {
      .scale#{$infix}-#{$transformScale} {
        --frdy-scale-x: #{$scale};
        --frdy-scale-y: #{$scale};
      }
      .scale#{$infix}-#{$transformScale}\:hover:hover,
      .scale#{$infix}-#{$transformScale}\:focus:focus {
        --frdy-scale-x: #{$scale} !important;
        --frdy-scale-y: #{$scale} !important;
      }
      .scale#{$infix}-y-#{$transformScale} { --frdy-scale-y: #{$scale}; }
      .scale#{$infix}-y-#{$transformScale}\:hover:hover,
      .scale#{$infix}-y-#{$transformScale}\:focus:focus { --frdy-scale-y: #{$scale} !important; }
      .scale#{$infix}-x-#{$transformScale} { --frdy-scale-x: #{$scale}; }
      .scale#{$infix}-x-#{$transformScale}\:hover:hover,
      .scale#{$infix}-x-#{$transformScale}\:focus:focus { --frdy-scale-x: #{$scale} !important; }
    }
  }
}