@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .transition#{$infix}-none { transition-property: none !important; }
    .transition#{$infix}-all {
      transition-property: all;
      @include transition-timing-duration;
    }
    .transition#{$infix} {
      transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
      @include transition-timing-duration;
    }
    .transition#{$infix}-colors {
      transition-property: background-color, border-color, color, fill, stroke;
      @include transition-timing-duration;
    }
    .transition#{$infix}-opacity {
      transition-property: opacity;
      @include transition-timing-duration;
    }
    .transition#{$infix}-shadow {
      transition-property: box-shadow;
      @include transition-timing-duration;
    }
    .transition#{$infix}-transform {
      transition-property: transform;
      @include transition-timing-duration;
    }
  }
}


