@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $gridSpan, $grid-column in $gridSpan {
      .col#{$infix}-#{$gridSpan} { grid-column: $grid-column !important; }
    }

    @each $gridNumber, $grid-column in $gridNumber {
      .col#{$infix}-start-#{$gridNumber} { grid-column-start: $grid-column !important; }
      .col#{$infix}-end-#{$gridNumber} { grid-column-end: $grid-column !important; }
    }
  }
}