// divideWidth
$divideWidth: () !default;
$divideWidth: map-merge((
  0: 0,
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px
), $divideWidth);

// Opacity
$opacity: () !default;
$opacity: map-merge((
  0: 0,
  5: .05,
  10: .1,
  20: .2,
  25: .25,
  30: .3,
  40: .4,
  50: .5,
  60: .6,
  70: .7,
  75: .75,
  80: .8,
  90: .9,
  95: .95,
  100: 1
), $opacity);

// Transition duration
$transitionDuration: () !default;
$transitionDuration: map-merge((
  75: 75ms,
  100: 100ms,
  150: 150ms,
  200: 200ms,
  300: 300ms,
  500: 500ms,
  700: 700ms,
  1000: 1000ms
), $transitionDuration);

// Transition timing function
$transitionTimingFunction: () !default;
$transitionTimingFunction: map-merge((
  'linear': linear,
  'in': cubic-bezier(0.4, 0, 1, 1),
  'out': cubic-bezier(0, 0, 0.2, 1),
  'in-out': cubic-bezier(0.4, 0, 0.2, 1)
), $transitionTimingFunction);

// Rotate deg
$transformRotate: () !default;
$transformRotate: map-merge((
  '0': 0deg,
  '1': 1deg,
  '2': 2deg,
  '3': 3deg,
  '6': 6deg,
  '12': 12deg,
  '45': 45deg,
  '90': 90deg,
  '180': 180deg
), $transformRotate);