
/**
Color
 */
$primary: #1565D8;
$secondary: #3F598A;
$success: #36B37E;
$info: #00B8D9;
$warning: #FAAD13;
$danger: #E95432;

$white: white;
$black: #183B56;
$gray: #5a7184;
$gray-light: #B3BAC5;

$colors: () !default;
$colors: map-merge(
  (
    transparent: transparent,
    current: currentColor,
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    white: $white,
    black: $black,
    gray: $gray,
    gray-light: $gray-light
  ),
  $colors
);

$colors-opacity: () !default;
$colors-opacity: map-merge(
  (
    primary-1: rgba($primary, .1),
    primary-2: rgba($primary, .2),
    primary-3: rgba($primary, .3),
    primary-4: rgba($primary, .4),
    primary-5: rgba($primary, .5),
    primary-6: rgba($primary, .6),
    primary-7: rgba($primary, .7),
    primary-8: rgba($primary, .8),
    primary-9: rgba($primary, .9),
          secondary-1: rgba($secondary, .1),
          secondary-2: rgba($secondary, .2),
          secondary-3: rgba($secondary, .3),
          secondary-4: rgba($secondary, .4),
          secondary-5: rgba($secondary, .5),
          secondary-6: rgba($secondary, .6),
          secondary-7: rgba($secondary, .7),
          secondary-8: rgba($secondary, .8),
          secondary-9: rgba($secondary, .9),
          success-1: rgba($success, .1),
          success-2: rgba($success, .2),
          success-3: rgba($success, .3),
          success-4: rgba($success, .4),
          success-5: rgba($success, .5),
          success-6: rgba($success, .6),
          success-7: rgba($success, .7),
          success-8: rgba($success, .8),
          success-9: rgba($success, .9),
          info-1: rgba($info, .1),
          info-2: rgba($info, .2),
          info-3: rgba($info, .3),
          info-4: rgba($info, .4),
          info-5: rgba($info, .5),
          info-6: rgba($info, .6),
          info-7: rgba($info, .7),
          info-8: rgba($info, .8),
          info-9: rgba($info, .9),
          warning-1: rgba($warning, .1),
          warning-2: rgba($warning, .2),
          warning-3: rgba($warning, .3),
          warning-4: rgba($warning, .4),
          warning-5: rgba($warning, .5),
          warning-6: rgba($warning, .6),
          warning-7: rgba($warning, .7),
          warning-8: rgba($warning, .8),
          warning-9: rgba($warning, .9),
          danger-1: rgba($danger, .1),
          danger-2: rgba($danger, .2),
          danger-3: rgba($danger, .3),
          danger-4: rgba($danger, .4),
          danger-5: rgba($danger, .5),
          danger-6: rgba($danger, .6),
          danger-7: rgba($danger, .7),
          danger-8: rgba($danger, .8),
          danger-9: rgba($danger, .9),
          white-1: rgba($white, .1),
          white-2: rgba($white, .2),
          white-3: rgba($white, .3),
          white-4: rgba($white, .4),
          white-5: rgba($white, .5),
          white-6: rgba($white, .6),
          white-7: rgba($white, .7),
          white-8: rgba($white, .8),
          white-9: rgba($white, .9),
          black-1: rgba($black, .1),
          black-2: rgba($black, .2),
          black-3: rgba($black, .3),
          black-4: rgba($black, .4),
          black-5: rgba($black, .5),
          black-6: rgba($black, .6),
          black-7: rgba($black, .7),
          black-8: rgba($black, .8),
          black-9: rgba($black, .9),
          gray-1: rgba($gray, .1),
          gray-2: rgba($gray, .2),
          gray-3: rgba($gray, .3),
          gray-4: rgba($gray, .4),
          gray-5: rgba($gray, .5),
          gray-6: rgba($gray, .6),
          gray-7: rgba($gray, .7),
          gray-8: rgba($gray, .8),
          gray-9: rgba($gray, .9),
          gray-light-1: rgba($gray-light, .1),
          gray-light-2: rgba($gray-light, .2),
          gray-light-3: rgba($gray-light, .3),
          gray-light-4: rgba($gray-light, .4),
          gray-light-5: rgba($gray-light, .5),
          gray-light-6: rgba($gray-light, .6),
          gray-light-7: rgba($gray-light, .7),
          gray-light-8: rgba($gray-light, .8),
          gray-light-9: rgba($gray-light, .9)
  ), $colors-opacity
);

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25), // 4px
    2: ($spacer * .5), // 8px
    3: $spacer, // 16px
    4: ($spacer * 1.5), // 24px
    5: ($spacer * 2), // 32px
    6: ($spacer * 2.5), // 40px
    7: ($spacer * 3), // 48px
    8: ($spacer * 3.5), // 56px
    9: ($spacer * 4), // 64px
    10: ($spacer * 4.5), // 72px
    11: ($spacer * 5), // 80px
    12: ($spacer * 5.5), // 88px
    13: ($spacer * 6), // 96px
    14: ($spacer * 6.5), // 104px
    15: ($spacer * 7), // 112px
    16: ($spacer * 7.5), // 120px
    17: ($spacer * 8), // 128px
    18: ($spacer * 8.5), // 136px
    19: ($spacer * 9), // 144px
    20: ($spacer * 9.5), // 152px
    21: ($spacer * 10), // 160px
    22: ($spacer * 10.5), // 168px
    23: ($spacer * 11), // 176px
    24: ($spacer * 11.5), // 184px
    25: ($spacer * 12), // 192px
    26: ($spacer * 12.5), // 200px
    27: ($spacer * 13), // 208px
    28: ($spacer * 13.5), // 216px
    29: ($spacer * 14), // 224px
    30: ($spacer * 14.5), // 232px
    31: ($spacer * 15), // 240px
    32: ($spacer * 15.5), // 248px
    33: ($spacer * 16), // 256px
    34: ($spacer * 16.5), // 264px
    35: ($spacer * 18), // 288px
    36: ($spacer * 18.5), // 296px
    37: ($spacer * 20), // 320px
    38: ($spacer * 20.5), //328px
    39: ($spacer * 22), // 352px
    40: ($spacer * 22.5), // 360px
    41: ($spacer * 24), // 384px
    42: ($spacer * 24.5), // 392px
    43: ($spacer * 25), // 400px
    44: ($spacer * 25.5) // 408px
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

//$enable-caret:                                true !default;
//$enable-rounded:                              true !default;
//$enable-shadows:                              false !default;
//$enable-gradients:                            false !default;
//$enable-transitions:                          true !default;
//$enable-prefers-reduced-motion-media-query:   true !default;
//$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
// $enable-grid-classes:                         true !default;
//$enable-pointer-cursor-for-buttons:           true !default;
//$enable-print-styles:                         true !default;
//$enable-responsive-font-sizes:                false !default;
//$enable-validation-icons:                     true !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;
$grid-row-columns:            6 !default;

$font-size-base:              1rem !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;
 
// scss-docs-start font-sizes
$font-sizes: (
        1: $h1-font-size,
        2: $h2-font-size,
        3: $h3-font-size,
        4: $h4-font-size,
        5: $h5-font-size,
        6: $h6-font-size
) !default;
// scss-docs-end font-sizes
