@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $size, $length in $spacers {
      .space#{$infix}-y-#{$size} > * + * {
        --frdy-space-y-reverse: 0;
        margin-top: calc(#{$size} * calc(1 - var(--frdy-space-y-reverse))) !important;
        margin-bottom: calc(#{$size} * var(--frdy-space-y-reverse)) !important;
      }
      .space#{$infix}-x-#{$size} > * + * {
        --frdy-space-x-reverse: 0;
        margin-right: calc(#{$size} * var(--frdy-space-x-reverse)) !important;
        margin-left: calc(#{$size} * calc(1 - var(--frdy-space-x-reverse))) !important;
      }
      .space#{$infix}-y-n#{$size} > * + * {
        --frdy-space-y-reverse: 0;
        margin-top: calc(-#{$size} * calc(1 - var(--frdy-space-y-reverse))) !important;
        margin-bottom: calc(-#{$size} * var(--frdy-space-y-reverse)) !important;
      }
      .space#{$infix}-y-n#{$size} > * + * {
        --frdy-space-x-reverse: 0;
        margin-right: calc(-#{$size} * var(--frdy-space-x-reverse)) !important;
        margin-left: calc(-#{$size} * calc(1 - var(--frdy-space-x-reverse))) !important;
      }
    }
  }
}