.text-primary {
  color: $primary;

  &--hover {
    &:hover {
      color: $primary !important;
    }
  }

  &-1 {
    color: rgba($primary, .1);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $primary, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $primary, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $primary, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $primary, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $primary, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $primary, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $primary, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $primary, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $primary, $alpha: .9) !important;
      }
    }
  }
}

.bg-primary {
  background-color: $primary;

  &--hover {
    &:hover {
      background-color: $primary !important;
    }
  }

  &-1 {
    background-color: rgba($color: $primary, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $primary, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $primary, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $primary, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $primary, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $primary, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $primary, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $primary, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $primary, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $primary, $alpha: .9) !important;
      }
    }
  }
}

.text-secondary {
  color: $secondary;

  &--hover {
    &:hover {
      color: $secondary !important;
    }
  }

  &-1 {
    color: rgba($color: $secondary, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $secondary, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $secondary, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $secondary, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $secondary, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $secondary, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $secondary, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $secondary, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $secondary, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $secondary, $alpha: .9) !important;
      }
    }
  }
}

.bg-secondary {
  background-color: $secondary;

  &--hover {
    &:hover {
      background-color: $secondary !important;
    }
  }

  &-1 {
    background-color: rgba($color: $secondary, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $secondary, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $secondary, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $secondary, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $secondary, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $secondary, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $secondary, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $secondary, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $secondary, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $secondary, $alpha: .9) !important;
      }
    }
  }
}

.text-success {
  color: $success;

  &--hover {
    &:hover {
      color: $success !important;
    }
  }

  &-1 {
    color: rgba($color: $success, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $success, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $success, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $success, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $success, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $success, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $success, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $success, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $success, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $success, $alpha: .9) !important;
      }
    }
  }
}

.bg-success {
  background-color: $success;

  &--hover {
    &:hover {
      background-color: $success !important;
    }
  }

  &-1 {
    background-color: rgba($color: $success, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $success, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $success, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $success, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $success, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $success, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $success, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $success, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $success, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $success, $alpha: .9) !important;
      }
    }
  }
}

.text-info {
  color: $info;

  &--hover {
    &:hover {
      color: $info !important;
    }
  }

  &-1 {
    color: rgba($color: $info, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $info, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $info, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $info, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $info, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $info, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $info, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $info, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $info, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $info, $alpha: .9) !important;
      }
    }
  }
}

.bg-info {
  background-color: $info;

  &--hover {
    &:hover {
      background-color: $info !important;
    }
  }

  &-1 {
    background-color: rgba($color: $info, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $info, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $info, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $info, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $info, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $info, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $info, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $info, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $info, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $info, $alpha: .9) !important;
      }
    }
  }
}

.text-warning {
  color: $warning;

  &--hover {
    &:hover {
      color: $warning !important;
    }
  }

  &-1 {
    color: rgba($color: $warning, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $warning, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $warning, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $warning, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $warning, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $warning, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $warning, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $warning, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $warning, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $warning, $alpha: .9) !important;
      }
    }
  }
}

.bg-warning {
  background-color: $warning;

  &--hover {
    &:hover {
      background-color: $warning !important;
    }
  }

  &-1 {
    background-color: rgba($color: $warning, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $warning, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $warning, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $warning, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $warning, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $warning, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $warning, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $warning, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $warning, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $warning, $alpha: .9) !important;
      }
    }
  }
}

.text-danger {
  color: $danger;

  &--hover {
    &:hover {
      color: $danger !important;
    }
  }

  &-1 {
    color: rgba($color: $danger, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $danger, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $danger, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $danger, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $danger, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $danger, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $danger, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $danger, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $danger, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $danger, $alpha: .9) !important;
      }
    }
  }
}

.bg-danger {
  background-color: $danger;

  &--hover {
    &:hover {
      background-color: $danger !important;
    }
  }

  &-1 {
    background-color: rgba($color: $danger, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $danger, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $danger, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $danger, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $danger, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $danger, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $danger, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $danger, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $danger, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $danger, $alpha: .9) !important;
      }
    }
  }
}

.text-white {
  color: $white;

  &--hover {
    &:hover {
      color: $white !important;
    }
  }

  &-1 {
    color: rgba($color: $white, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $white, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $white, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $white, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $white, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $white, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $white, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $white, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $white, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $white, $alpha: .9) !important;
      }
    }
  }
}

.bg-white {
  background-color: $white;

  &--hover {
    &:hover {
      background-color: $white !important;
    }
  }

  &-1 {
    background-color: rgba($color: $white, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $white, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $white, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $white, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $white, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $white, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $white, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $white, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $white, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $white, $alpha: .9) !important;
      }
    }
  }
}

.text-black {
  color: $black;

  &--hover {
    &:hover {
      color: $black !important;
    }
  }

  &-1 {
    color: rgba($color: $black, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $black, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $black, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $black, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $black, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $black, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $black, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $black, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $black, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $black, $alpha: .9) !important;
      }
    }
  }
}

.bg-black {
  background-color: $black;

  &--hover {
    &:hover {
      background-color: $black !important;
    }
  }

  &-1 {
    background-color: rgba($color: $black, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $black, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $black, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $black, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $black, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $black, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $black, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $black, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $black, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $black, $alpha: .9) !important;
      }
    }
  }
}

.text-gray {
  color: $gray;

  &--hover {
    &:hover {
      color: $gray !important;
    }
  }

  &-1 {
    color: rgba($color: $gray, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $gray, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $gray, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $gray, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $gray, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $gray, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $gray, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $gray, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $gray, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $gray, $alpha: .9) !important;
      }
    }
  }
}

.bg-gray {
  background-color: $gray;

  &--hover {
    &:hover {
      background-color: $gray !important;
    }
  }

  &-1 {
    background-color: rgba($color: $gray, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $gray, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $gray, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $gray, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $gray, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $gray, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $gray, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $gray, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $gray, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray, $alpha: .9) !important;
      }
    }
  }
}

.text-gray-light {
  color: $gray-light;

  &--hover {
    &:hover {
      color: $gray-light !important;
    }
  }

  &-1 {
    color: rgba($color: $gray-light, $alpha: .1);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    color: rgba($color: $gray-light, $alpha: .2);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    color: rgba($color: $gray-light, $alpha: .3);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    color: rgba($color: $gray-light, $alpha: .4);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    color: rgba($color: $gray-light, $alpha: .5);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    color: rgba($color: $gray-light, $alpha: .6);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    color: rgba($color: $gray-light, $alpha: .7);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    color: rgba($color: $gray-light, $alpha: .8);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    color: rgba($color: $gray-light, $alpha: .9);

    &--hover {
      &:hover {
        color: rgba($color: $gray-light, $alpha: .9) !important;
      }
    }
  }
}

.bg-gray-light {
  background-color: $gray-light;

  &--hover {
    &:hover {
      background-color: $gray-light !important;
    }
  }

  &-1 {
    background-color: rgba($color: $gray-light, $alpha: .1);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .1) !important;
      }
    }
  }

  &-2 {
    background-color: rgba($color: $gray-light, $alpha: .2);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .2) !important;
      }
    }
  }

  &-3 {
    background-color: rgba($color: $gray-light, $alpha: .3);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .3) !important;
      }
    }
  }

  &-4 {
    background-color: rgba($color: $gray-light, $alpha: .4);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .4) !important;
      }
    }
  }

  &-5 {
    background-color: rgba($color: $gray-light, $alpha: .5);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .5) !important;
      }
    }
  }

  &-6 {
    background-color: rgba($color: $gray-light, $alpha: .6);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .6) !important;
      }
    }
  }

  &-7 {
    background-color: rgba($color: $gray-light, $alpha: .7);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .7) !important;
      }
    }
  }

  &-8 {
    background-color: rgba($color: $gray-light, $alpha: .8);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .8) !important;
      }
    }
  }

  &-9 {
    background-color: rgba($color: $gray-light, $alpha: .9);

    &--hover {
      &:hover {
        background-color: rgba($color: $gray-light, $alpha: .9) !important;
      }
    }
  }
}
